<div class="row">
  <div class="col-xs-12">
    <h3>Detalle Docker Host</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <h2>Id: {{ dockerHost.id }}</h2> 
      </li>
      <li class="list-group-item">
        <h4>Nombre: {{ dockerHost.name }}</h4>
      </li>
      <li class="list-group-item">
        <h4>Host: {{ dockerHost.protocol }}://{{ dockerHost.host }}:{{ dockerHost.port }}</h4>
      </li>
      <li class="list-group-item">
        <h4>Tls: {{ dockerHost.tls }}</h4>
      </li>
    </ul>
  </div>
</div>