<div class="col-sm-4 col-sm-pull-8">
  <form name="loginForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input 
        type="text" 
        id="username" 
        name="username" 
        class="form-control" 
        placeholder="Enter username" 
        autofocus="true"
        autocomplete="off" 
        required
        (change)="enableLogin()"
        #usernameInput
        >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="password" 
        id="password" 
        name="password" 
        class="form-control" 
        placeholder="Enter password"
        required
        (change)="enableLogin()"
        #passwordInput
        >
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="login()" [disabled]="!allowLogin">Log In</button>
    </div>
    <ng-template [ngIf]="showError">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">Credenciales incorrectas</div>
      </div>
    </div>
    </ng-template>
  </form>
</div>