<div class="container">
  <div class="row justify-content-md-center">
      <div class="col">
        <h3>Lista Docker Hosts</h3>
        <app-docker-host-item *ngFor="let dockerHostItem of dockerHosts" [dockerHost]="dockerHostItem"></app-docker-host-item>
      </div>
      <div class="col">
        <app-docker-host-detail [dockerHost]="selectedDockerHost" *ngIf="selectedDockerHost; else infoText"></app-docker-host-detail>
        <ng-template #infoText>
          <p>Please select a Docker Host!</p>
        </ng-template>
      </div>
  </div>
</div>