<div class="col-sm-4 col-sm-pull-8">
  <form (ngSubmit)="onSignup(f)" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="username" id="username" name="username" ngModel class="form-control" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Enter password">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    <br><br>
    <ng-template [ngIf]="showError">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger">{{ error }}</div>
        </div>
      </div>
    </ng-template>
  </form>
</div>