<div class="container-fluid">
    <app-header></app-header>
        <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <br><br><br>
        <hr>
        <div class="row justify-content-md-center">
            <app-footer></app-footer>
        </div>
    </div>
</div>