<a routerLink="/dockerhost" class="list-group-item clearfix" (click)="dockerHostSelected()">
  <div class="pull-left">{{ dockerHost.name }}</div>
  <div class="pull-right">{{ dockerHost.protocol }}://{{ dockerHost.host }}:{{ dockerHost.port }}</div>
</a>