<form class="needs-validation" novalidate>
  <div class="form-row">
    
      <div class="col"><label for="dockerHostCombo">Docker Host</label></div>
      <div class="col">
        <select 
          class="custom-select" 
          id="dockerHostCombo" 
          (change)="onSelection($event)">
          <option *ngFor="let dockerHostItem of dockerHosts" value="{{ dockerHostItem.id }}">{{ dockerHostItem.name }}</option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="submit" (click)="showImages()">Imágenes</button>
      </div>
  </div>
</form>